.DailyForecast {
  display: grid;
  grid-template-columns: repeat(8, minmax(10rem, 1fr));
  grid-template-rows: min-content min-content;
  overflow-x: auto;
}

.today {
  justify-content: flex-end;
}
